<article class="pokedexContainer">
  @for (regionData of regionsWithPokemon(); track regionData.regionName) {
    <section class="genSection">
      <h2>{{ regionData.regionName | uppercase }}</h2>
      <ul class="genPokemonList">
        @defer (on viewport) {
          @for (pokemon of regionData.pokemon; track pokemon.name) {
            <li class="pokemon-card">
              @defer (on viewport) {
                @let pokeSignal = getPokemonSignal(pokemon, regionData.regionName);
                @if (pokeSignal(); as pkmn) {
                  <app-poke-card [name]="pkmn.name" [id]="pkmn.id" />
                }
              } @placeholder {
                <div>loader</div>
              }
            </li>
          }
        } @placeholder {
          <div>loader</div>
        }
      </ul>
    </section>
  }
</article>
